/* 섹션공통 */
body{margin: 0; padding: 0; font-family:'Pretendard', 'Noto Sans KR'; font-size: 17px; background-color: #fffefe;}
:root{
    --pink001:#ea7480;
    --font:"AbrilFatface", serif;
}
.sec{}

/* 표지 */
#sec01{background:#ee9696;}
#sec01 .cover_top{}
#sec01 .cover_top p{color:#ffffff; opacity: .8;  font-style: var(--font); }
#sec01 .cover_top .obj{}

#sec01 .cover_slog{}
#sec01 .cover_slog p{}
#sec01 .cover_slog h5{}
#sec01 .cover_slog h5 b{}

#sec01 .cover_bot{}
#sec01 .cover_bot .obj{}
#sec01 .cover_bot dl{}
#sec01 .cover_bot dl dt{}
#sec01 .cover_bot dl dd{}
#sec01 .cover_bot dl dd i{}
#sec01 .cover_bot dl dd a{}

#sec01 .obj{}
#sec01 .obj span{}
#sec01 .obj span:nth-child(1){}