/* 섹션공통 */
body{background-color: #fffefe;}
:root{
    --pink001:#ea7480;
    --font:"Abril Fatface";
}
.sec{padding:115px 100px; max-width: 1920px; height:1080px; margin: 0 auto;}
.inner{padding:0 70px;}



/* 표지 */
#sec01{background:#ee9696;}
#sec01 .cover_top{position: relative; display: flex; justify-content: center; align-items: center; height: 65px;}
#sec01 .cover_top p{color:#ffffff; opacity: .8; font-family:var(--font); font-size:23px; text-transform: uppercase; letter-spacing: 0.07em;}
#sec01 .cover_top .obj{position: absolute;right: 0;top: 50%;transform: translateY(-50%);}

#sec01 .cover_slog{position: relative;padding-top: 180px;}
#sec01 .cover_slog p{font-size:27px; font-weight: 400; color: #ffe4e4; letter-spacing: -0.005em; line-height: 1;}
#sec01 .cover_slog h5{}
#sec01 .cover_slog h5 b{}

#sec01 .cover_bot{}
#sec01 .cover_bot .obj{}

#sec01 .cover_bot dl{}
#sec01 .cover_bot dl dt{}
#sec01 .cover_bot dl dd{}
#sec01 .cover_bot dl dd i{}
#sec01 .cover_bot dl dd a{}

#sec01 .obj{display:flex; align-items: center; gap:40px;}
#sec01 .obj span{display:block; width: 55px; height: 55px; border-radius: 50%; background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);}
#sec01 .obj span:nth-child(1){width: 65px; height: 65px; background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);} 