/* 섹션공통 */
body{margin: 0; padding: 0; font-family:'Pretendard'; font-size: 17px; background-color: #fffefe;}
:root{
    --pink001:#ea7480;
    --font:"Abril Fatface";
}
.sec{padding:115px 100px;}
.inner{padding:0 70px;}



/* 표지 */
#sec01{background:#ee9696;}
#sec01 .cover_top{}
#sec01 .cover_top p{color:#ffffff; opacity: .8;  font-family:var(--font); font-size:23px;}
#sec01 .cover_top .obj{}

#sec01 .cover_slog{}
#sec01 .cover_slog p{font-size:27px; font-family: 'Montserrat';}
#sec01 .cover_slog h5{}
#sec01 .cover_slog h5 b{}

#sec01 .cover_bot{}
#sec01 .cover_bot .obj{}
#sec01 .cover_bot dl{}
#sec01 .cover_bot dl dt{}
#sec01 .cover_bot dl dd{}
#sec01 .cover_bot dl dd i{}
#sec01 .cover_bot dl dd a{}

#sec01 .obj{display:flex; align-items: center; gap:40px;}
#sec01 .obj span{display:block; width: 55px; height: 55px; border-radius: 50%; background: linear-gradient(-90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);}
#sec01 .obj span:nth-child(1){width: 65px; height: 65px; background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);} 